<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <title>Friends</title>
</head>
<body class="friends">
    <div class="friends__header">
        <h3>friends</h3>
        
    </div>
    
    <div class="friends__friend-container">
        {{#each friends}}
            <div class="friends__friend">
                <div class="friend-img"></div>
                <div class="friend-text">
                    <h5>{{name}}</h5>
                    <p>{{frequencyNum}} {{frequencyUnit}}</p>
                </div>
            </div>
        {{/each}}
    </div>

    <div class="friends__add">
        <a href="/new-friend" class="add-container"><i class="fas fa-plus"></i></a>
    </div>
    
    
</body>
</html>