<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <script src="js/login.js" defer></script>
    <title>{{title}}</title>
</head>
<body style="overflow: hidden;">
    <div class="loading">
        {{>loading}}
    </div>

    <section class="login">
         <h2>followthru</h2>
        <div class="login__container">
            <p id="login-error-msg" class="error-message"></p>
            <form id="login-form" class="login__form" method="post">
                <input id="login-email" type="email" placeholder="Email" name="email" required>
                <input id="login-password" type="password" placeholder="Password" name="password" required>
                <button type="submit" class="login__login-btn">Login</button>
                {{!-- <button class="login__apple-btn">Login with Apple</button>
                <button class="login__google-btn">Login with Google</button> --}}
                <span>Don't have an account? <a href="/signup">Sign Up</a></span>
            </form>
    </section>
</body>
</html>
