<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <script src="/js/form-date.js" defer></script>
    <title>followthru</title>
</head>
<body>
    {{> page_title}}
    <div class="center-form">
        <form method="post" action="/new-friend">
            <label for="name">Name (required):</label>
            <input type="text" name="name" required>
            <label for="birthday">Birthday:</label>
            <input type="date" name="birthday" id="birthday" >
            <label for="lastHang">Last Hang:</label>
            <input type="date" name="lastHang">
            <label for="nextHang">Next Hang:</label>
            <input type="date" name="nextHang">
            <label for="frequencyNum" class="new-friend__question">How often would you like to hang with your new friend?</label>
            <div class="new-friend__frequency">
                <input class="frequencyNum" type="number" value="1" min="1" max="60" name="frequencyNum">
                <p>time(s) a</p>
                <select class="frequencyUnit" name="frequencyUnit">
                    <option value="week">week</option>
                    <option value="month">month</option>
                    <option value="year">year</option>
                </select><p>.</p>
            </div>
            <button class="new-friend__btn" type="submit">Add friend</button>
        </form>
    </div>
    {{> back_arrow}}
</body>
</html>