/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --powder-blue: #2495CF;
    --yellow: #FECA50;
    --dark-blue: #031431;
    --main-grey: #808080;
    --shadow: 0 0 10px rgba(0, 0, 0, 0.16);
    --click-shadow: 0 0 5px rgba(0, 0, 0, 0.16);
}

html {
    font-family: Arial, Helvetica, sans-serif
}

section {
    height: 100vh;
    width: 100vw;
}

h1 {
    font-weight: 500;
    font-size: 50px;
    color: var(--powder-blue)
}

h2 {
    font-weight: 500;
    font-size: 40px;
    color: var(--powder-blue)
}

h3 {
    font-weight: 500;
    font-size: 40px;
    color: black
}

h4 {
    font-weight: 600;
    font-size: 24px;
}

h5 {
    font-size: 17px;
    font-weight: 600;
}

h6 {
    font-size: 13px;
    font-weight: 500;
    color: var(--main-grey)
}

p {
    font-size: 17px;
    font-weight: 300;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 266px;
}

input {
    width: 266px;
    font-size: 17px;
    text-align: left;
    padding: 6px 0;
    border: none;
    border-bottom: 1px solid var(--main-grey);
    background: none;
    margin: 10px 0;
    outline: none;
}

input[type="date"] {
    padding: 6px 0;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="date"]::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
    font-size: 17px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    height: 17px;
    width: 17px;
}

select {
    border:none;
    background:none;
    width: 75px;
    font-size: 17px;
}

button {
    height: 43px;
    width: 266px;
    background: var(--powder-blue);
    border-radius: 22px;
    border: none;
    font-size: 17px;
    font-weight: 800;
    margin: 10px 0;
    color: white;
    box-shadow: var(--shadow);
    transition: 0.2s;
    transition-timing-function: ease-out;
}

a {
    text-decoration: none;   
    color: black;
    box-shadow: var(--shadow);
    transition: 0.2s;
    transition-timing-function: ease-out;
}

button:hover,
a:hover {
    cursor: pointer
}

button:active,
a:active {
    transform: scale(0.98);
    box-shadow: var(--click-shadow);
}

.page__header {
    height:197px;
    width: 375px;
    position: fixed;
    top: 0;
    padding: 23px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 100;
}

.center-form {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content__container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    padding: 197px 0 30px 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Loader */
.loading {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Login */
.login {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__container {
    height: 470px;
    width: 266px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.login__apple-btn {
    background: black;
}

.login__google-btn {
    background: #DE4B39
}

.login__form span {
    width: 100%;
    text-align: center;
    color: gray;
    font-weight: 500;
    margin: 10px 0;
}

.login__form span a {
    color: var(--powder-blue);
    font-weight: 600;
}

/* Friends */
.friends {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.friends__friend {
    min-height: 78px;
    width: 330px;
    background: white;
    border-radius: 8px;
    margin-bottom: 9px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.friend-img {
    height: 50px;
    width: 50px;
    background: var(--powder-blue);
    border-radius: 8px;
    margin: 0 14px;
}

.friends__add {
    height: 88px;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1000;
}

.add-container {
    height: 40px;
    width: 40px;
    background-color: var(--yellow);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-plus {
    font-size: 20px;
    color: white;
}

.header__user-pic {
    height: 50px;
    width: 50px;
    position: absolute;
    background: white;
    border-radius: 8px;
    box-shadow: var(--shadow);
    right: 23px;
}

/* New Friend */

.new-friend__question {
    margin-top: 15px;
}

.new-friend__frequency {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.frequencyNum {
    width: 30px;
    margin: 0 10px 0 0;
    text-align: center;
    padding: 0 0 2px 0;
}

.frequencyUnit {
    margin: 0 0 0 8px;
}

.new-friend__btn {
    margin-top: 50px;
}

/* Friend profile */

.friend-profile__section {
    width: 330px;
    height: auto;
    margin-bottom: 36px;
}

.friend__subheader {
    width: 100%;
    margin-bottom: 22px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.goal__content {
    width: 100%;
    height: 77px;
    box-shadow: var(--shadow);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-btn {
    color:var(--yellow);
    font-weight: 600;
    box-shadow: none;
}

.dates__content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.dates__date-container {
    width: 100px;
    height: 100px;
    box-shadow: var(--shadow);
    border-radius: 8px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dates__date-container h6{
    margin-bottom: 10px;
}

.notes__note-container {
    position: relative;
    width: 330px;
    height: auto;
    min-height: 77px;
    padding: 15px;
    box-shadow: var(--shadow);
    border-radius: 8px;
    margin-bottom: 15px;
    line-height: 27px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.notes__note-container .edit-btn {
    align-self: flex-end;
}

.add-note {
    align-items: center;
    justify-content: center;
}

.new-note__text  {
    width: 100%;
    height: auto;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 17px;
    overflow: auto
}

#new-note__title {
    font-weight: 600;
}

#new-note__body {
    font-weight: 500;
}

.delete-container {
    position: absolute;
    top: -10px;
    left: -10px;
    background: rgb(255, 59, 59);
    width: 20px;
    height: 20px;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}