/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

:root {
    --powder-blue: #2495CF;
    --yellow: #FECA50;
    --dark-blue: #031431;
    --main-grey: #808080;
    --main-red: rgb(255, 59, 59);
    --shadow: 0 0 10px rgba(0, 0, 0, 0.16);
    --click-shadow: 0 0 5px rgba(0, 0, 0, 0.16);
}

html {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 700px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    height: 100vh;
    width: 100vw;
}

h1 {
    font-weight: 500;
    font-size: 50px;
    color: var(--powder-blue)
}

h2 {
    font-weight: 500;
    font-size: 40px;
    color: var(--powder-blue)
}

h3 {
    font-weight: 500;
    font-size: 40px;
    color: black
}

h4 {
    font-weight: 600;
    font-size: 24px;
}

h5,
.h5 {
    font-size: 17px;
    font-weight: 600;
}

h6,
.h6 {
    font-size: 13px;
    font-weight: 500;
    color: var(--main-grey)
}

p {
    font-size: 17px;
    font-weight: 300;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 266px;
}

input,
input:-webkit-autofill {
    width: 266px;
    font-size: 17px;
    text-align: left;
    padding: 6px 0;
    border: none;
    border-bottom: 1px solid var(--main-grey);
    background-color: none;
    margin: 10px 0;
    outline: none;
    border-radius: 0px;
}

input[type="date"] {
    padding: 6px 0;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="date"]::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
    font-size: 17px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    height: 17px;
    width: 17px;
}

select {
    border:none;
    background:none;
    width: 75px;
    font-size: 17px;
}

button {
    height: 43px;
    width: 266px;
    background: var(--powder-blue);
    border-radius: 22px;
    border: none;
    font-size: 17px;
    font-weight: 800;
    margin: 10px 0;
    color: white;
    box-shadow: var(--shadow);
    transition: 0.2s;
    transition-timing-function: ease-out;
}

a {
    text-decoration: none;   
    color: black;
    box-shadow: var(--shadow);
    transition: 0.2s;
    transition-timing-function: ease-out;
}

button:hover,
a:hover {
    cursor: pointer
}

button:active,
a:active {
    transform: scale(0.98);
    box-shadow: var(--click-shadow);
}

.page__header {
    height:197px;
    width: 375px;
    position: fixed;
    top: 0;
    padding: 23px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 100;
}

.back-arrow-placer {
    position: fixed;
    width: 375px;
    height: 64px;
    bottom: 0;
    padding: 0 24px;
    pointer-events: none;
    background: none;
}

.back-arrow-container {
    height: 40px;
    width: 40px;
    top: 0;
    border-radius: 50%;
    background: var(--powder-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
}

.back-arrow-container i {
    color: white;
}

.center-form {
    width: 100vw;
    height: 100vh;
    padding-top: 197px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.main-content__container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    padding: 197px 0 50px 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Loader */
.loading {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-message {
    color: var(--main-red);
    min-height: 20px;
}

/* Login */
.login {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__container {
    height: 470px;
    width: 266px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__apple-btn {
    background: black;
}

.login__google-btn {
    background: #DE4B39
}

.login__form span {
    width: 100%;
    text-align: center;
    color: gray;
    font-weight: 500;
    margin: 10px 0;
}

.login__form span a {
    color: var(--powder-blue);
    font-weight: 600;
    box-shadow: none;
}

/* Friends */
.friends {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.friends__friend {
    min-height: 78px;
    width: 330px;
    background: white;
    border-radius: 8px;
    margin-bottom: 9px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.friend-img {
    height: 50px;
    width: 50px;
    background: white;
    border-radius: 8px;
    margin: 0 14px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.friends__add {
    height: 88px;
    width: 375px;
    position: fixed;
    bottom: 0;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1000;
    pointer-events: none;
}

.add-container {
    height: 40px;
    width: 40px;
    background-color: var(--yellow);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
}

.fa-plus {
    font-size: 20px;
    color: white;
}

.header__user-pic {
    height: 50px;
    width: 50px;
    position: absolute;
    background: white;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: var(--shadow);
    right: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* New Friend */

.new-friend__question {
    margin-top: 15px;
}

.new-friend__frequency {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.frequencyNum {
    width: 30px;
    margin: 0 10px 0 0;
    text-align: center;
    padding: 0 0 2px 0;
}

.frequencyUnit {
    margin: 0 0 0 8px;
}

.new-friend__btn {
    margin-top: 50px;
}

/* Friend profile */

.friend-profile__section {
    width: 330px;
    height: auto;
    margin-bottom: 36px;
}

.friend__pic-container {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-title {
    max-width: 330px;
    height: auto;
    outline: none;
    word-wrap: break-word;
}

.friend__subheader {
    width: 100%;
    margin-bottom: 22px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.goal__content {
    width: 100%;
    height: 77px;
    box-shadow: var(--shadow);
    border-radius: 8px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#goal-form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.goal-form__input {
    text-align: center;
    outline: none;
}

.edit-btn {
    color:var(--yellow);
    font-weight: 600;
    box-shadow: none;
}

.dates__content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.dates__date-container {
    position: relative;
    width: 160px;
    height: 100px;
    box-shadow: var(--shadow);
    border-radius: 8px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.dates__date-container h6,
.dates__date-container .h6{
    margin-bottom: 10px !important;
}

.new-date__text {
    max-width: 150px;
    max-height: 20px;
    margin: 0;
    text-align: center;
    outline: none;
    border: none;
    padding: 0 !important;
}

.new-date__text[type="date"]::-webkit-calendar-picker-indicator {
    margin: 0;
}

#new-date__submit {
    position: absolute;
    bottom: 5px;
}

.edit-date__form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-date__label {
    margin-bottom: 10;
}

.edit-date {
    border: none;
    max-width: 100%;
    overflow: visible;
    text-align: center;
    margin: 0;
    padding: 0 !important;
}

.edit-date__date::-webkit-calendar-picker-indicator {
    margin: 0
}

.notes__note-container {
    position: relative;
    width: 330px;
    height: auto;
    min-height: 77px;
    padding: 15px;
    box-shadow: var(--shadow);
    border-radius: 8px;
    margin-bottom: 15px;
    line-height: 27px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.notes__note-container .edit-btn {
    align-self: flex-end;
}

.add-note {
    align-items: center;
    justify-content: center;
}

.new-note__text  {
    width: 100%;
    height: auto;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 17px;
    overflow: auto
}

#new-note__title {
    font-weight: 600;
}

#new-note__body {
    font-weight: 500;
}

.delete-container {
    position: absolute;
    top: -10px;
    left: -10px;
    background: var(--main-red);
    width: 20px;
    height: 20px;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* User profile */
.profile__user-pic-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.picture-frame {
    height: 50px;
    width: 50px;
    background: white;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: var(--shadow);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic {
    min-height: 100%;
}

.edit-pic {
    box-shadow: none;
    color: var(--powder-blue);
    font-weight: 600;
}

.popup {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    background: rgba(180, 180, 180, 0.555);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100000;
}


.pic__popup-content {
    height: 270px;
    width: 320px;
    background: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pic__upload {
    border: none;
}

.pic__upload::-webkit-file-upload-button {
    height: 43px;
    width: 130px;
    background: var(--yellow);
    border: none;
    border-radius: 8px;
    box-shadow: var(--shadow);
    font-weight: 600;
    color: white;
}

.profile__leave-buttons {
    position: absolute;
    bottom: 24px;
    display: flex;
    flex-direction: column;

}

.leave-button {
    height: unset;
    width: unset;
    background: none;
    border-radius: 0;
    box-shadow: none;
}

#logout-user {
    color: var(--powder-blue);
}

#delete-user {
    color: var(--main-red)
}

.delete-user__popup-content {
    background: white;
    width: 320px;
    height: 270px;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.popup__button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup__delete-btn {
    background: var(--main-red);
}

/* Media Queries */

@media (max-height: 700px) {
    .profile__leave-buttons {
        position: relative;
        margin-top: 20px;
    }
}

