/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --powder-blue: #2495CF;
    --yellow: #FECA50;
    --dark-blue: #031431;
    --main-grey: #808080;
    --shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}

html {
    font-family: Arial, Helvetica, sans-serif
}

section {
    height: 100vh;
    width: 100vw;
}

h1 {
    font-weight: 500;
    font-size: 50px;
    color: var(--powder-blue)
}

h2 {
    font-weight: 500;
    font-size: 40px;
    color: var(--powder-blue)
}

h3 {
    font-weight: 500;
    font-size: 40px;
    color: black
}

h5 {
    font-size: 17px;
    font-weight: 600;
}

p {
    font-size: 17px;
    font-weight: 300;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    width: 266px;
    font-size: 17px;
    text-align: left;
    padding: 6px 0;
    border: none;
    border-bottom: 1px solid var(--main-grey);
    margin: 10px 0;
    outline: none;
}

button {
    height: 43px;
    width: 266px;
    background: var(--powder-blue);
    border-radius: 22px;
    border: none;
    font-size: 17px;
    font-weight: 800;
    margin: 10px 0;
    color: white;
    box-shadow: var(--shadow);
}

button:hover,
a:hover {
    cursor: pointer
}

/* Loader */
.loading {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Login */
.login {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__container {
    height: 470px;
    width: 266px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.login__apple-btn {
    background: black;
}

.login__google-btn {
    background: #DE4B39
}

.login__form span {
    width: 100%;
    text-align: center;
    color: gray;
    font-weight: 500;
    margin: 10px 0;
}

.login__form span a {
    color: var(--powder-blue);
    font-weight: 600;
}

/* Friends */
.friends {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.friends__header {
    height:197px;
    width: 375px;
    position: sticky;
    top: 0;
    padding: 23px;
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 51%, rgba(255,255,255,0) 100%);
}

.friends__friend-container {
    position: relative;
    overflow-y: scroll;
    padding: 30px 0;
}

.friends__friend {
    height: 78px;
    width: 330px;
    background: white;
    box-shadow: var(--shadow);
    border-radius: 8px;
    margin-bottom: 9px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.friend-img {
    height: 50px;
    width: 50px;
    background: var(--powder-blue);
    border-radius: 8px;
    margin: 0 14px;
}